# --- System Files ---
.DS_Store
*.swp
Thumbs.db

# --- Build & Output ---
build/
**/build/
/out
/bin
.gradle/
.kotlin/
.externalNativeBuild/
.cxx/
captures/
target/

# --- Kotlin Multiplatform Specific ---
.konan/
/shared/build/
/composeApp/build/
/iosApp/build/
*.iml
*.iws
*.ipr

# --- Android Specific ---
local.properties
.navigation/
/captures
*.apk
*.aar
*.bundle

# --- iOS / Xcode Specific ---
# Ignora derivados pero mantén la estructura del proyecto
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.lsplugin/
DerivedData/
*.moved-aside

# --- IDE: IntelliJ & Android Studio ---
.idea/
# Si quieres compartir el estilo de código o diccionarios, descomenta:
# !.idea/codeStyles/
# !.idea/dictionaries/

# --- IDE: VS Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# --- Dependencies & Tools ---
node_modules/
.npm
/vendor/
npm-debug.log*
yarn-error.log*
.nx/cache

# --- Misc ---
*.log
/coverage
/typings
